<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Lista de Productos</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/estilo.css') }}">
</head>
<body>
    <h1>Lista de Productos</h1>
    <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Precio</th>
                    <th>Categoría</th>
                    <th>Imagen</th>
                    <th>Acción</th>
                </tr>
            </thead>
            <tbody>
                {% for producto in productos %}
                <tr>
                    <td>{{ producto[1] }}</td>
                    <td>${{ "%.2f"|format(producto[2]) }}</td>
                    <td>{{ producto[3] }}</td>
                    <td><img src="{{ producto[4] }}" alt="{{ producto[1] }}" width="50"></td>
                    <td>
                        <form action="{{ url_for('comprar_producto') }}" method="POST">
                            <input type="hidden" name="producto_id" value="{{ producto[0] }}">
                            <button type="submit">Comprar</button>
                        </form>
                        
                        
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
